

#high-scores{
    position: relative;
    top: 10px;
    left: 10px;
    color:#1ca812;
    
}
.first-screen{
    margin: auto;
    width: 60%;
    padding: 10px;
    text-align: center;
}

#start-quiz




