/* First Page */
/* 1. Container of Elements of Header*/
.top-row-container{
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}


/* 2. High Score Specifications */
#high-scores {
  position: relative;
  top: 10px;
  left: 10px;
  color: #1ca812;
}




/* 3. Description on First Page */
.first-screen-descrip{
    margin: auto;
    width: 60%;
    padding: 10px;
    text-align: center;
    font-size: 25px;
}

/* 4. Start Quiz Button */
#start-quiz{
  background-color: #9f12a9;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: auto;
  cursor: pointer;
  border-radius: 25px; 
}

/* 5. Timer CSS */
.timer-text{
  /* position: relative; */
  top: 10px;
  right: 10px;
}


/* 6. Hidding functionality */
  .hide-me{
    display: none;
  }

 



/*                        */
/*        Questions       */
/*                        */

/* 1. Question Stem */
#stem-of-question {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding-top: 30px;
    /* margin: auto; */
}
/* 2. Question CSS */
.entire-question {
    padding-top: 175px;
    margin: auto;

}




/*                        */
/*    Choices CSS Code    */
/*                        */
/* 1. General Choice Container */
.choice-containter {
  display: flex;
  flex-direction: column;
  width: 100px;
  margin: auto;
  padding-top: 10px;
  text-align: left;
}

/* 2. Aesthics of of Choices */
.choices {
    background-color: #9f12a9;
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: auto;
    cursor: pointer;
    border-radius: 25px;
    width: 150px;
    text-align: left;
}


/* 3. Hovering Capacity for Choice */
.choices:hover{
  opacity: 0.5;
}





/*                        */
/*        Last Page       */
/*                        */
/* 1. Dimensions of the Entering Information page */
.enter-info {
  margin: auto;
  width: 60%;
  padding: 10px;
  text-align: left;
  padding-top: 175px;
}


/* 2. All Done Page */
#all-done {
  font-size: 35px;
  font-weight: bold;
}


/* 3. Displaying Performance */
.performance-info {
  font-size: 25px;
}


/* 4. Submit Initials  */
#submit-button {
  background-color: #9f12a9;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  margin: auto;
  cursor: pointer;
  border-radius: 25px;
  
}



