.top-row-container{
  display: flex;
  justify-content: space-between;
}


#high-scores{
    position: relative;
    top: 10px;
    left: 10px;
    color:#1ca812;
    
}


.first-screen-descrip{
    margin: auto;
    width: 60%;
    padding: 10px;
    text-align: center;
}


.enter-info {
  margin: auto;
  width: 60%;
  padding: 10px;
  text-align: left;
  padding-top: 175px;
}

#all-done {
  font-size: 35px;
  font-weight: bold;
}

.performance-info {
  font-size: 25px;
}


.button {
    background-color: #9f12a9;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: auto;
    cursor: pointer;
    border-radius: 25px;
    
  }

  .timer-text{
    /* position: relative; */
    top: 10px;
    right: 10px;
  }


  .hide-me{
    display: none;
  }

  .hide-eval{
    display: none;
  }


  .top-row-container {
    display: flex;
    justify-content: space-between;
}

#high-scores {
    position: relative;
    top: 10px;
    left: 10px;
    color: #1ca812;
}


#stem-of-question {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.entire-question {
    padding-top: 100px;

}

.choices {
    background-color: #9f12a9;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: auto;
    cursor: pointer;
    border-radius: 25px;
    width:70px;
    text-align: left;
}

.choices:hover{
  opacity: 0.5;
}

.choice-containter {
    display: flex;
    flex-direction: column;
    width: 100px;
    margin: auto;
    /* padding: 10px; */
    text-align: center;

}


